/* Глобальные стили для всего приложения */
/* Reset styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #18181b;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select,
button {
  font: inherit;
}

textarea {
  resize: none;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #333;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #0070f3;
  border-color: #0070f3;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

/* Add custom styles below */

.wrapper {
  display: grid;
  max-width: 1280px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #e4e4e7;
}
