.header{
  border: 1px solid #E4E4E7;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.headerLogoText{
  font-family: 'Source Serif 4', serif; /* Добавьте запасной тип шрифта */
  font-size: 26px;
  font-weight: 600;
  line-height: 31.2px; /* Можно округлить до 1.2 для кратности */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
margin: 0;
}
.headerLink{
font-size: 20px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.4099999964237213px;
text-align: right;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #119822;
margin-right: 33px;
}
