.container {
  padding: 14px 32px;
}

.list {
  display: flex;
  border: 1px solid #e4e4e7;
  border-radius: 20px;
  padding: 12px 0;
  align-items: center;
  justify-content: space-between;
}
.separator {
  height: 50px;
  width: 1px;
  background-color: #e4e4e7;
}
